@font-face {
  font-family: 'Clash Display';
  src: url('/assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aston Script';
  src: url('/assets/fonts/Aston_Script.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

body {
  cursor: url("/assets/cursor/arrow.svg") 2 0, auto;
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
  color: var(--color-light);
}

a,
button {
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b212e6b71494aa67ff_cursor-pointer%402x.svg") 12 0, pointer;
}

.p-large {
  font-size: 1.125em;
  font-family: Arial, Helvetica;
}

.p-small {
  font-size: 0.875em;
  font-family: Arial, Helvetica;
}

.content-p {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.4;
}

.opacity--80 {
  opacity: 0.8;
}

.panel {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.panel.red {
  background-color: #ff4c24;
}

.panel.center {
  text-align: center;
}

.panel.text-dark * {
  color: var(--color-dark);
}


/* Additional styles from original */
.title {
  color: var(--color-black);
  font-family: Arial, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.title-h2 {
  color: var(--color-black);
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -0.01em;
  line-height: 1.3;
}

.up-text {
  text-transform: uppercase;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  width: 100%;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
  -webkit-transition: background-color 100000000000000000000000000000s 0s, color 100000000000000000000000000000s 0s;
  transition: background-color 100000000000000000000000000000s 0s, color 100000000000000000000000000000s 0s;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input[type=text],
input[type=number],
input[type=email],
input[type=tel],
textarea {
  box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0) !important;
  -webkit-box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0) !important;
  -webkit-text-fill-color: currentColor !important;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: transparent;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
